@import "tailwindcss";

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}

@layer components {
  .required-form div:has(input[required]) > label::before,
  .required-form div:has(select[required]) > label::before,
  .required-form div:has(textarea[required]) > label::before {
    content: "*  ";
    color: theme("colors.red.500");
    margin-left: 0.25rem;
  }
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
